@charset "UTF-8";

body,html{
	padding:0;
	margin:0;
	font-family:Arial, sans-serif;
	font-weight:400;
}
main{
	align-items:center;
	text-align:center;
}
nav {
  display: flex;
  align-items: center;
  padding: 1em;
  gap: 2em; 
  border-bottom:1px solid grey;
  font-weight: 700;
  height:4em;
  background-color:rgb(222, 223, 224);
}

.logo img {
  width: 5em;
  height: auto;
}

.logo{
	width:20%;
}

.div-nav {
  display: flex;
  gap: 1.5em;
  width:80%;
  justify-content: space-around;
  
}

.div-nav a {
  text-decoration: none;
  color: black;
}

.div-nav a:hover {
  color:rgb(36, 62, 74);
}

#tabla-listado, #tabla-listado td{
	margin: 0 auto;
	border: 1px solid black;
	padding:.5em;
	border-collapse: collapse;
}

#tabla-listado th tr {
  border-bottom: 2px solid black;
}

#tabla-listado th {
  border: none;
  padding: 8px;
  text-align: left;
}
#table-form-agregar, th,td,tr{
	margin:0 auto;
	border: 1px solid black;
	border-collapse:collapse;
	text-align:left;
	padding:.5em;
}
#div-agregar-error{
	color:red;
	text-align:left;
	margin:2em auto;
	width:30%
}
